*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px
}

div.calc-flex{
    background-color: whitesmoke;
    margin: 100px auto;
    width: 400px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.calculatorHeaderTitle{
    color: #fff;
    background-color: red;
    margin: 3px 3px 10px 3px;
    padding: 6px;
    text-align: center;
    border-radius: 7px;

}

p.select-label{
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

select{
    margin: 0 auto 30px;
    padding: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid black;
}

form.form-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
}

div.textarea-flex{
    flex-direction: row;
    margin: auto;
}

input.calc-btn{
    flex-direction: row;
    margin: auto;
    padding: 10px;
}

h3.result{
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 7px;
}